<!--<script type="text/javascript" src="./../../dele.js" defer ></script>-->

<section class="ugly"> 
     <div class="fields">      
      <h1><label>Patient's Name is hidden </label></h1>
      <div class="cID"><%= clu2._id %></div>  
      <div><label>Document's Code: </label><%= clu2.documenNumber %></div>
      <div><label>Test taken at: </label><%=  clu2.testDate %></div>
      <div><label>eGFR(ml/min/1.73m2): </label><%=  clu2.eGfr %></div>
      <div><label>Glucose(mg/dl): </label><%=  clu2.glucose %></div>
     
      <div><lable>Creatinine(mg/dl): </lable><%= clu2.creatinine %></div>  
      <div><lable>Creatinine(μmol/L): </lable><%= clu2.creatinineMicromole %></div> <hr/> 
       <svg  
     class= <% if (clu2.atrialFibrillation == true ){ %> "atrialFibrillation is-fav" <%} else {%> "atrialFibrillation" <%} %>  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34"> 
         <path d="M12 9.229c.234-1.12 1.547-6.229 5.382-6.229 2.22 0 4.618 1.551 4.618 5.003 0 3.907-3.627 8.47-10 12.629-6.373-4.159-10-8.722-10-12.629 0-3.484 2.369-5.005 4.577-5.005 3.923 0 5.145 5.126 5.423 6.231zm-12-1.226c0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-7.962-9.648-9.028-12-3.737-2.338-5.262-12-4.27-12 3.737z" 
          /> 
          </svg> </div>     
        
    <BMP-form method="post" action="/layout/<%= clu2._id%>">
             <a class="update"  href="/" > Back to Main Page </a > 
      <!--<script type="text/javascript" src="./../../server2.js" defer></script>-->
            <!--<input type="hidden" name="_method" value="delete"/>-->   
            <a  id="dele" class="delete" href="/delete/<%= clu2._id%>" > Surely Delete </a>     
    <!--<BMP-form2 method="post" action="./../../server.js"> -->
            <!--<button  id="upda" class="update" type="submit" > Update </button>  -->  
      </BMP-form>  
    <!--</BMP-form> -->   
</section>   